<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\ezoji\Envs\planner_venv\python.exe|E:\Projects\planner-master\planner\planing\manage.py fcgi --pythonpath E:\Projects\planner-master\planner\planing --settings planing.settings" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
